<%= render "../views/dash_navigation" %>

<div class="dashbaord">
  <div class="left-secondary-half">
    <div class="background">
      <div class="vehicles">
        <h1 class="dashboard-text">Vehicles:</h1>
        <% if current_user.vehicles.empty? %>
          <h2><%= link_to "Add First Vehicle", new_search_path %></h2>
        <% else %>
            <% current_user.vehicles.each do |vehicle| %>
            <div class="vehicle-list">
              <p><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></p>
              <%= button_to("Delete", {controller: "vehicles", action: :destroy, id: vehicle.id}, method: "delete", class: "delete-button") %>
            </div>
            <% end %>
              <h2><%= link_to "Add Vehicle", new_search_path %></h2>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right-primary-half">
    <div class="dashboard-circle-button">
      <h2><%= link_to "Compare Vehicles", new_comparision_path %></h2>
    </div>
    <div class="dashboard-circle-button">
      <h2><%= link_to "Find<br />Routes".html_safe, new_route_path %></h2>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.dashboard-circle-button').on('mouseenter', function () {
    $(this).addClass('blue-glow');
  })

  $('.dashboard-circle-button').on('mouseleave', function () {
    $(this).removeClass('blue-glow');
  })
</script>
