<div class="dashbaord">
  <div class="left-secondary-half">
    <div class="background">
      <div class="profile">
        <h2>Hello, <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
        <p>Edit Profile</p>
        <p><%= link_to "Logout", logout_path %></p>
      </div>
      <div class="vehicles">
        <p>Vehicles:</p>
        <p><%= link_to "Add First Vehicle", new_search_path %></p>
        <% current_user.vehicles.each do |vehicle| %>
          <p><%= vehicle.make %></p>
          <p><%= vehicle.model %></p>
          <p><%= vehicle.year %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right-primary-half">
    <div class="dashboard-circle-button">
      <h2><%= link_to "Compare Vehicles", new_comparision_path %></h2>
    </div>
    <div class="dashboard-circle-button">
      <h2><%= link_to "Find<br />Routes".html_safe, new_route_path %></h2>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.dashboard-circle-button').on('mouseenter', function () {
    $(this).addClass('blue-glow');
  })

  $('.dashboard-circle-button').on('mouseleave', function () {
    $(this).removeClass('blue-glow');
  })
</script>
